
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.title {
   color: #FFFFFF;
   padding-top:30px;
   padding-bottom:5px;
   text-align: center;
   width: 100%;
   position:static;
   top: 120px;
      font-family: 'Nanum Gothic', sans-serif;
}



.container{
  width: 800px;
  background-color: white;
background-attachment:scroll;
text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}




h2 {
   box-sizing: border-box;
   padding: 10px;
   text-align: center;
   width: 100%;
   position: relative;
   top: 40px;
   bottom: 20px;
   display:block;
}

.pg{
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 20px;
  bottom: 20px;
  display:block;

}

.donut {
  box-sizing: border-box;
  padding: 30px;
  width: inherit;
  height:inherit;
  max-width:50%
  position: relative;
  top: 20px;
  margin: 0 auto;
  display: block;
  z-index: 10;
}

.one-explain{
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 40px;
  display:inline-block;
}
.bim{
  display:inline;
}
h4{
  line-height: 30px;
    box-sizing: border-box;
    padding: 30px;

    text-align: left;
    width: 100%;
    position: relative;
    top: 10px;
    bottom: 0px;
    display:inline-block;
}


body{
  background-image: url(https://1.bp.blogspot.com/-iu-gIJmjxxM/WkD3269T53I/AAAAAAAAA3Q/3au30arvXp8MNSY2j8LUY7PM10Ze8pLCwCK4BGAYYCw/s320/backgroundimage.jpg);
  background-attachment: fixed;
}
