.jumbotron-billboard .tcolor {
  padding:50px;
  color: #fff;
}

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 1;
    color: #fff;
    background: #000 url("img/communication.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

    position:absolute;
    top:0;left:0;
    z-index:1;
}

.jumbotron {position:relative;padding:125px;}

.jumbotron .container {
  z-index:2;
  position:absolute;
}

.video-container {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,.video-container object,.video-container embed {
  position:absolute;top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
