.title {
  background-color: #DBE9EE;
   box-sizing: border-box;
   padding: 40px;
   text-align: center;
   width: 100%;
   position: relative;
   top: 50px;
}

h2 {
   box-sizing: border-box;
   padding: 40px;
   text-align: center;
   width: 100%;
   position: relative;
   top: 40px;
   display:block;
}

.donut {
    border: 1px solid #000000;
  box-sizing: border-box;
  padding: 40px;
  width: 50%;
  left: 380px;
  position: relative;
  top: 40px;
  display:block;
}

.one-explain{
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 40px;
  display:inline-block;
}
h3{
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 30px;
    display:inline-block;
}

.tableauPlaceholder {
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  width: 52%;
  position: fixed;
  top: 20px;
  z-index: 10;
}
