.title {
  background-color: #DBE9EE;
   box-sizing: border-box;
   padding: 40px;
   text-align: center;
   width: 100%;
   position: relative;
   top: 50px;
}

h2 {
   box-sizing: border-box;
   padding: 30px;
   text-align: center;
   width: 100%;
   position: relative;
   top: 40px;
   display:block;
}

.donut {
  box-sizing: border-box;
  padding: 30px;
  width: inherit;
  height:inherit;
  max-width:50%
  position: relative;
  top: 20px;
  margin: 0 auto;
  display: block;
  z-index: 10;
}

.one-explain{
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 40px;
  display:inline-block;
}
h3{
    box-sizing: border-box;
    padding: 30px;
    text-align: left;
    width: 100%;
    position: relative;
    top: 10px;
    display:inline-block;
}

.tableauPlaceholder {
  box-sizing: border-box;
  padding: 30px;
  width: 50%;
  max-height:50%
  position: relative;
  top: 20px;
  margin: 0 auto;
  display: block;
  z-index: 10;
}
