body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #42426F
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: #00009C;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header.contact-btn {
	float: right;
}

header.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #BC8F8F;

}

header.contact-btn a:active {
  position: relative;
  bottom: 2px;
}


.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('http://cfile21.uf.tistory.com/image/2676B04F571088FC2BE866');
  background-size: cover;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  color:#23238E;
}

.jumbotron h2 {
  font-size: 30px;
  margin: 0;
  color:#23238E;
}

.jumbotron h3 {
  margin: 0 0 50px;
  font-size: 50px;
  font-weight: 700;
  color:#23238E;
  padding: 30px;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-sm-10 {
  margin: 0 0 30px;
  padding: 30px;
  border: 2px solid #000000;
}

.h4 {
  font-size: 35px;
  font-weight: 500px;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
